name: Publich

on:
  push:
    branches: [ "master" ]

jobs:
  build-publish:
    strategy:
      max-parallel: 4
      matrix:
        dotnet-version: [6.0.x]
        os: [windows-latest]
        os-version: ["any", "win-x64", "win-arm64", "linux-x64", "linux-arm64", "alpine-x64", "osx-x64", "osx-arm64"]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - name: setup
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: ${{ matrix.dotnetn-version }}
    - name: publish any
      if: matrix.os-version == 'any'
      run: |
        git clone -b master https://github.com/snltty/p2p-tunnel.git p2p
        cd p2p
        mkdir publish
        dotnet publish ./client/client.service -c release -f net6.0 -o ./publish/any/client
        dotnet publish ./server/server.service -c release -f net6.0 -o ./publish/any/server
        7z a -tzip publish/any.zip publish/any
    - name: publish other
      if: matrix.os-version != 'any'
      run: |    
        git clone -b master https://github.com/snltty/p2p-tunnel.git p2p
        cd p2p
        mkdir publish
        dotnet publish ./client/client.service -c release -f net6.0 -o ./publish/${{ matrix.os-version }}-single/client	-r ${{ matrix.os-version }}  -p:DebugType=none -p:DebugSymbols=false  -p:PublishSingleFile=true -p:PublishTrimmed=true -p:IncludeNativeLibrariesForSelfExtract=true
        dotnet publish ./server/server.service -c release -f net6.0 -o ./publish/${{ matrix.os-version }}-single/server	-r ${{ matrix.os-version }}  -p:DebugType=none -p:DebugSymbols=false  -p:PublishSingleFile=true -p:PublishTrimmed=true -p:IncludeNativeLibrariesForSelfExtract=true
        7z a -tzip publish/${{ matrix.os-version }}-single.zip publish/${{ matrix.os-version }}-single
    - name: Upload item
      uses: actions/upload-artifact@v3
      with:
        name: bin-${{ matrix.os-version }}
        path: p2p/publish
    
  release:
    name: Release item
    needs: 
    - build-publish
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@v2
      with:
        name: bin-any
        path: bin-any
    - uses: actions/download-artifact@v2
      with:
        name: bin-win-x64
        path: bin-win-x64
    - uses: actions/download-artifact@v2
      with:
        name: bin-win-arm64
        path: bin-win-arm64
    - uses: actions/download-artifact@v2
      with:
        name: bin-linux-x64
        path: bin-linux-x64
    - uses: actions/download-artifact@v2
      with:
        name: bin-linux-arm64
        path: bin-linux-arm64
    - uses: actions/download-artifact@v2
      with:
        name: bin-alpine-x64
        path: bin-alpine-x64
    - uses: actions/download-artifact@v2
      with:
        name: bin-osx-x64
        path: bin-osx-x64
    - uses: actions/download-artifact@v2
      with:
        name: bin-osx-arm64
        path: bin-osx-arm64
    - uses: softprops/action-gh-release@v1
      with:
        draft: true
        files: bin-*/*